.titulo {
    color: #005695;
    font-size: 3rem;
    font-weight: bold;
    padding: 3rem;
}

.myCard {
    display: flex;
    justify-content: center;
    margin-right: 3rem;
}

title {
    font-size: 20px;
    margin: 10px;
}

aside {
    background-image: url("../../Header/estudo.png");
    height: 50vh;
}