img {
    width: 3vw;
    margin: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005695;
    height: 13vh;
}

p {
    color: white;
}
